body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
    font-weight: 700;
    margin: 50px auto 0 auto;
    color: #80b9cc;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: #80b9ccb7;
    font-weight: normal;
}

h3 {
    font-family: 'Lora', serif;
    color: #80b9ccc7;
}

a {
    color: #11999E;
}

p {
    line-height: 2;
    text-align: justify;
}

.contact-me p,
.footer {
    text-align: center;
}

.bottom-container a,
.bottom-container p {
    color: rgb(225, 229, 247);
    text-decoration: none;
    margin-bottom: 0;
}


.bottom-container a:hover {
    color: #40514E;
}

/* content text */
.what-i-am {
    margin: 0 auto 100px auto;
}

.pro {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 6px dotted;
    border-color: #b0e8fba9;
    width: 5%;
    margin: 30px auto 50px;
}

/* divs */
.top-container {
    position: relative;
    padding: 5% 5% 0;
    background-color: #cde3f0;
}

.mid-container {
    background-color: aliceblue;
    padding: 3% 15%;
}

.bottom-container {
    padding: 30px;
    background-color: #7fc0e6;
}


/* content */

.skill-row {
    margin: 30px auto 80px auto;
    text-align: left;
    padding: 0 30px ;
}

.skill-row-right {
    text-align: right;
}

.skill-row-right p {
    text-align: right;
}

.contact-me {
    padding-bottom: 30px;
}


.btn {
    background-color: #7fc0e6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
    color: #40514E;
}

/* images */
.cloud {
    position: absolute;
}

.cloud-top {
    right: 350px;
    top: 50px;
}

.cloud-bottom {
    left: 350px;
    top: 300px;
}

.mountain {
    width: 30%;
}

.alpaca {
    margin-top: 10px;
}

.design-programming {
    float: left;
    margin: 23px 30px auto auto;
}

.coxinha {
    float: right;
    margin: 23px auto auto 30px;
}



@media (max-width: 900px) {
    .cloud {
        width: 25%;
    }
    .cloud-top {
        right: 3%;
        top: 10%;
    }

    .cloud-bottom {
    left: 3%;
    top: 50%;
    }

    .mountain {
        width: 60%;
    }
}

@media (max-width: 756px) {
    .top-container, .middle-container {
        padding: 3% 5%;
    }
}